/* layouts/index.html */
.list-topic li > .title {
  margin-top: 10px;
  font-size: large;
  font-style: bold;
}

.list-topic li > .title a {
  color: rgb(174, 75, 8);
}

.top-hr {
  margin-top: 15px;
  margin-bottom: 20px;
}

/* layouts/index.html new-post */
.new-post {
  margin-top: 15px;
}

.new-post dt {
  display: flex;
  align-items: flex-end;
}

.new-post dt > .title {
  margin-top: 10px;
  font-size: large;
  font-style: bold;
}

.new-post dt > .published {
  margin-top: 10px;
  font-size: small;
  margin-left: auto;
}

.new-post dt > .title a {
  color: rgb(174, 75, 8);
}

.new-post dd > .description p {
  margin-left: 1rem;
}

.new-post > h2 {
  font-size: 1.6rem;
  font-weight: 300;
}

.title h1 {
  margin-top: 25px;
}
