<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
  <head>
    {{- partial "head.html" . -}}
  </head>
  <body>
    <!-- render `content/_index.md` -->
    <main id="toppage">
      <div class="title">{{ .Content }}</div>
      <hr class="top-hr" />
      <!-- list topic -->
      <div class="list-topic">
        <ul>
          {{ range .Params.category }}
          <li>
            <div class="title">
              <a href="{{ .link }}">{{ .title }}</a>
            </div>
          </li>
          {{ end }}
        </ul>
      </div>
      <hr class="top-hr" />
      <!-- new content page list -->
      <div class="new-post">
        <h2>新着記事</h2>
        <ol>
          <!-- changelogの最後を取り出して一度記事に関する情報が入っているmapを作る。そしてそれをsliceにしてやる -->
          <!-- why: changelogの最後を取り出しkeyにするという操作は、sortのkeyが文字列しか入らないこととByParamsでも成功しなかったことから。rangeの外で `.Params.changelog` を使うとこれはその記事(toppageの _index.md)のfrontmatterの値に置き換わってしまうため、range外では文字列としてプロパティを指定する必要がある。 -->
          {{ $selected := where .Site.Pages ".Params.layout" "!=" nil}} {{
          $pages := slice }} {{ range $selected}} {{ $pages = $pages | append
          (dict "date" (index (index (last 1 .Params.changelog) 0) "date")
          "title" .Title "link" .Permalink "description" .Params.description) }}
          {{ end }} {{ $lastEdit := sort $pages "date" "desc" }}
          <!-- reverse: desc order -->
          <!-- render -->
          <dl>
            {{ range first 10 $lastEdit }}
            <dt>
              <div class="title">
                <a href="{{ .link }}">{{ .title }}</a>
              </div>
              <div class="published">
                <span class="prefix">last edited: </span>
                <span class="date"> {{ time.Format "2006-01-02" .date }} </span>
              </div>
            </dt>
            <dd>
              <span class="description">
                {{ .description | $.RenderString (dict "display" "block") }}
              </span>
            </dd>
            {{ end }}
          </dl>
        </ol>
      </div>
      {{ partial "footer.html" }}
    </main>
  </body>
</html>
