---
const currentYear = new Date().getFullYear()
---

<footer>
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} -
        <a href="https://github.com/uta8a">@uta8a</a>.
      </p>
    </div>
  </section>
</footer>
