*:not(.katex, .katex *, .token) {
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ",
    "Meiryo", sans-serif;
}

main {
  @include mq(xs) {
    max-width: 300px;
  }
  @include mq(sm) {
    max-width: 400px;
  }
  @include mq(md) {
    max-width: 600px;
  }
  @include mq(xl) {
    max-width: 1000px;
  }

  display: block;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}

.title > h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

p {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.description p {
  margin-block-start: 0.3em;
  margin-block-end: 1em;
}

hr {
  border: 0;
  height: 2px;
  background: #555;
}

/* layouts/_default/list.html */
#content > .list-container {
  margin-top: 15px;
}

#content > .list-container dt {
  display: flex;
  align-items: flex-end;
}

#content > .list-container dt > .title {
  margin-top: 10px;
  font-size: large;
  font-style: bold;
}

#content > .list-container dt > .published {
  margin-top: 10px;
  font-size: small;
  margin-left: auto;
}

#content > .list-container dt > .title a {
  color: rgb(174, 75, 8);
}

#content > .list-container dd > .description p {
  margin-left: 1rem;
}

.license {
  text-align: right;
  margin-bottom: 10px;
  a {
    color: #2e8cff;
    text-decoration: underline;
  }
}

.repository {
  margin-bottom: 20px;
  text-align: right;
  a {
    color: #2e8cff;
    text-decoration: underline;
  }
}

.category {
  margin-top: 10px;
  text-align: right;
  a {
    color: #2e8cff;
    text-decoration: underline;
  }
}
